<div class="card">
    <div class="card-header" id="card-header">
        <h4 class="card-title" id="font">Quản lý sách</h4>
        <p class="card-category" id="font">Điền thông tin để tìm kiếm</p>
    </div>
    <div class="card-body">
        <form>
            <div class="row">
                <div class="col-md-2">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Tên Sách" [(ngModel)]="bookSearchForm.bookName" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </div>
                <div class="col-md-4">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Mã ISBN" [(ngModel)]="bookSearchForm.bookISBN" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </div>

                <div class="col-md-3">
                    <mat-form-field class="example-full-width">
                        <input matInput placeholder="Tên tác giả" [(ngModel)]="bookSearchForm.authorName" [ngModelOptions]="{standalone: true}">
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <app-chip-input [book-genres]="bookGenres" (onSelectGenre)="onSelectGenre($event)"></app-chip-input>
                </div>
            </div>
            <button mat-raised-button type="submit" class="btn btn-primary pull-right" (click)="onSearchClicked()">Tìm
        kiếm</button>
        </form>
    </div>
</div>